.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 100%;
  max-width: 300px; /* Adjust based on your design */
  text-align: center;
  overflow: visible; /* Ensure content is not hidden */
}

.city {
  font-size: 1.2em; /* Adjust font size as needed */
  font-weight: bold;
}

.weather {
  font-size: 1em; /* Adjust font size as needed */
  color: #666;
}

.temp {
  font-size: 1.5em; /* Adjust font size as needed */
  font-weight: bold;
}

.minmaxContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.min, .max {
  width: 45%; /* Adjust as needed to fit content */
}

.minHeading, .maxHeading {
  font-size: 0.8em;
  color: #666;
}

.minTemp, .maxTemp {
  font-size: 1.2em;
  font-weight: bold;
}

@media (max-width: 768px) {
  .card {
    width: 100%;
    max-width: 100%; /* Ensure full width on smaller screens */
  }
}
